tomli==2.2.1
distro==1.9.0
voluptuous==0.15.2
frozenlist==1.6.0
dvc==2.10.2
python-slugify==8.0.4
setproctitle==1.3.6
shtab==1.7.2
async-timeout==5.0.1
pydot==4.0.0
propcache==0.3.1
networkx==3.4.2
asyncssh==2.21.0
annotated-types==0.7.0
python-benedict==0.34.1
flatten-dict==0.4.2
markdown-it-py==3.0.0
pydantic==2.11.4
aiohttp-retry==2.9.1
pygtrie==2.5.0
multidict==6.4.4
pycparser==2.22
platformdirs==4.3.8
protobuf==6.31.0
requests==2.32.3
numpy==1.26.4
aiohttp==3.11.18
dvc-render==0.0.5
exceptiongroup==1.3.0
atpublic==6.0.1
PyYAML==6.0.2
Pygments==2.19.1
configobj==5.0.9
typing_extensions==4.13.2
pluggy==1.6.0
python-fsutil==0.15.0
attrs==25.3.0
click==8.2.1
pydantic_core==2.33.2
pygit2==1.18.0
packaging==25.0
dpath==2.2.0
fsspec==2025.5.0
aiosignal==1.3.2
torchvision==0.14.1
urllib3==1.26.11
rich==14.0.0
dictdiffer==0.9.0
tqdm==4.64.1
sentry-sdk==2.29.1
idna==3.10
diskcache==5.6.3
nvidia-cudnn-cu11==8.5.0.96
aiohappyeyeballs==2.6.1
pytest==7.2.1
ruamel.yaml.clib==0.2.12
nvidia-cublas-cu11==11.10.3.66
wandb==0.19.11
cffi==1.17.1
tabulate==0.9.0
grandalf==0.6
shortuuid==1.0.13
charset-normalizer==3.4.2
funcy==2.0
nvidia-cuda-nvrtc-cu11==11.7.99
yarl==1.20.0
certifi==2025.4.26
nvidia-cuda-runtime-cu11==11.7.99
mypy_extensions==1.1.0
black==25.1.0
colorama==0.4.6
text-unidecode==1.3
appdirs==1.4.4
pillow==11.2.1
toml==0.10.2
future==1.0.0
scmrepo==0.0.19
flufl.lock==8.2.0
cryptography==45.0.2
psutil==7.0.0
pathspec==0.9.0
pyparsing==3.2.3
docker-pycreds==0.4.0
mdurl==0.1.2
typing-inspection==0.4.0
torch==1.13.1
dulwich==0.22.8
ruamel.yaml==0.18.10
six==1.17.0
dvclive==0.9.0
nanotime==0.5.2
zc.lockfile==3.0.post1
iniconfig==2.1.0
pip==23.0.1
wheel==0.45.1
smmap==5.0.2
gitdb==4.0.12
setuptools==75.6.0
GitPython==3.1.41
